#API et serveur
fastapi>=0.95
uvicorn[standard]
gunicorn

#NLP / Modèle SBERT
sentence-transformers>=2.2.2
tensorflow-cpu>=2.13.0

#Pré-traitement
nltk==3.9.1
numpy
pydantic

#Azure BlobStorage
azure-storage-blob
