#API et serveur
fastapi>=0.95
uvicorn[standard]
gunicorn

#NLP / Modèle BERT
transformers>=4.40
tensorflow-cpu==2.13.0
tf-keras>=2.13.0  #Compatibilité avec transformers pour TF 2.x
huggingface-hub

#Pré-traitement
nltk
numpy
pydantic

#Azure BlobStorage
azure-storage-blob
